$myclr:#FF80AB;
$bgclr:#3E2723;
html {
    scroll-behavior: smooth;
  }
body
{
    margin: 0px;
    font-family: "poppins", sans-serif;
   
    
}
*{
    box-sizing: border-box;
}

h1{
    margin: 0px;
}


.btn__dark{
    display: inline-block;
    text-transform: uppercase;
    background-color: $bgclr ;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.btn__dark:hover {
    background-color: $myclr;
    color: $bgclr;
}

.margin__top{
    margin-top: 15px;
}

// Navbar
.navbar ul{
    padding: 0px;
    margin: 0px;
    background-color: $bgclr;
    display: flex;
    justify-content: center;
}

.navbar ul li{
    display: inline-block;
    
}

.navbar li a{
    display: block;
    color: $myclr;
    text-decoration: none;
    padding: 25px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    
}
.navbar li a:hover {
    background-color: $myclr;
    color: $bgclr;
}

// Hero Section
.hero__section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image:url(./img/finalblogbg.jpg);
    background-size: cover;
}

.hero__text{
    color: white;
    text-align: center;
}

.hero__text h1{
    
    font-size: 100px;
    font-weight: 500;
}

#intro1{
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 20px;
}

#intro2{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 15px;
}

// recipe__section
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recipe__section{
    padding: 50px 0;
    
}

.image__wrapper{
    border-radius: 2px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image__wrapper img{
    transition: all 0.5s;
}


.image__wrapper:hover img{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

.image__wrapper-text, .image__wrapper-text2{
    padding: 10px 15px;
    width: 100%;
    max-height: 200px ;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    bottom: 0px;
}

.image__wrapper-text h5{
    color: rgb(35, 158, 35);
    font-size: 20px;
    font-weight: 700;
}

.image__wrapper-text p{
    color: rgb(196, 255, 119);
}

#non-veg{
    margin-top: 15px;
}


.image__wrapper-text2 h5{
    color: rgb(255, 123, 0);
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
}
.image__wrapper-text2 p{
    color: rgb(255, 187, 0);
}

.grid-images img{
    width: 200px;
    height: 200px;
}

.grid-images{
    margin-left: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.2fr));
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

#food__img{
    overflow: hidden;
}

#food__img img{
    
    transition: all 3s;
}

#food__img h3{
    width: 100%;
    max-height: 100px;
    bottom: 0px;
    position: absolute;
    
}

#food__img:hover img{
    transform: scale(1.2,1.2) skew(200deg);
    cursor: pointer;

}

.video__section{
    margin-top: 100px;
    background:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url(./videobg.jpg);
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video__section .video{
    height: 15rem;
    width: 25rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.video__section .video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}
